
/* (A) THE CONTAINER */
#grid-layout {
    display: grid;
    grid-gap: 0px;
    /* DESIGN YOUR GRID TEMPLATE */
    grid-template-areas:
    'logo logo logo name'
    'header header header header'
    'main main main side'
    'footer footer footer footer';
  }
  
  /* (B) ASSIGN THE AREAS */
  .cell {
    padding: 50px;
  }
  .logo{
      grid-area: logo;
   background: #B0D7FF;
  }
  .name{
      grid-area: name;
   background: #B0D7FF;
  }
  
  .head {
    grid-area: header;
    background:  #003263;
    background-image: linear-gradient(to bottom, #01468b, #00264d);
  }
  .main {
    grid-area: main;
    background: #FFFFFF;
  }
  .side {
    grid-area: side;
    background: #FFFFFF;
  }
  .foot {
    grid-area: footer;
    background: #003263;
    background-image: linear-gradient(to top, #01468b, #00264d);
  }
  
  
  footertext a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  footertext a:hover {
    background-color:  #B0D7FF;;
      color: black;
    text-align: center;
  }
  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#B0D7FF;
  
  }
  
  text{
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* plain text */
  pt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
  }
  
  text a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  text a:hover{
    background-color:  #B0D7FF;;
      color: black;
  }
  
  h1, h2, h3, h4, h5, h6, p, th, td, label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Set the size of the div element that contains the map */
  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  /* Event list classes */

  pt.clickable:hover{
      text-decoration: underline;
  }

  div.eventlist-container{
    background-image: linear-gradient(to bottom, white , rgb(228, 228, 228));
    border:1px solid dimgray;
  }

  div.event-card{
    width: 90%; 
    border: 1px solid dimgray; 
    border-radius: 10px; 
    box-shadow: 0 0 2px dimgray; 
    margin:10 auto 0; 
    padding: 10px;
  }

  div.event-card:hover{
      cursor: pointer;
      box-shadow: 0 0 10px dimgray;
      transition-property: opacity;
      transition: .25s;
  }

  div.mapwidget{
    border: 1px solid rgb(177, 177, 177);
    border-radius: 20px;
    height: 150px;
    width: 20%;
    padding:10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float:left;
  }

  div.mapwidget-large{
    border: 1px solid rgb(177, 177, 177);
    border-radius: 20px;
    height: 300px;
    width: 50%;
    padding:10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float:left;
  }

  div.event-description{
    border: 1px solid rgb(177, 177, 177);
    background-color:rgb(228, 228, 228);
    border-radius: 20px;
    padding: 10px;
    min-height: 100px;
    clear: both;
  }

  span.tag{
    padding:5px; 
    border-radius:7px;
  }

  button{
    border: 1px solid #001e3d;
    background-image: linear-gradient(to bottom, #01468b, #00264d);
    padding: 10px 20px;
    color: white;
    font-weight: bold;
  }

  /* Modal code based on https://www.w3schools.com/howto/howto_css_modals.asp */

  .modal {
    padding-top: 100px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-header {
    background-image: linear-gradient(to bottom, #01468b, #00264d);
    border:1px solid #001e3d;
    color: white;
    padding: 0px 20px;
  }

  .modal-body {
    padding: 10px 16px;
    border: 1px solid #001e3d;
    border-top: none;
    border-bottom: none;
  }

  .modal-footer {
    background-image: linear-gradient(to bottom, #01468b, #00264d);
    border:1px solid #001e3d;
    padding: 20px;
  }

  .modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: none;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .close {
    color: rgb(219, 219, 219);
    float: right;
    font-size: 48px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }